# --
# OTOBO is a web-based ticketing system for service organisations.
# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# Copyright (C) 2019-2024 Rother OSS GmbH, https://otobo.de/
# --
# This program is free software: you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation, either version 3 of the License, or (at your option) any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
# --

<div class="oooServiceCatalog">
    <div class="Row oooServiceField">
        {{ ServiceStrg | safe }}
    </div>
    <div class="Row oooServiceFieldSearch">
        <input title="{{ 'Search catalog' | Translate }}" type="text" name="Search" placeholder="{{ 'Search' | Translate }}..."></input>
    </div>
    <div class="oooServiceBreadcrumbWrap">
        <i class="oooScrollLeft ooofo-arrow_l"></i>
        <div class="oooServiceBreadcrumb">
            <div class="oooServiceBreadcrumbField">
                <ul class="oooBreadcrumbServiceList"></ul>
            </div>
        </div>
        <i class="oooScrollRight ooofo-arrow_r"></i>
    </div>
    <p class="oooServiceResult">
        <span class="oooServiceResultNumber"></span>
    </p>
    <div class="oooServiceWrapper">
    </div>
</div>
